body {
    background-color: #191919;
    color: white;
    font-size: 20px;
}
      
input {
    color: white;
    background-color: #262626;
    border: 0px;
    border-radius: 10px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 24px;
    padding: 4px 4px;
    font-size: 16px;
}

.big-button {
    color: white;
    background-color: #3D3D3D;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 16px 32px;
}

.big-button:active {
    background-color: #333333;
}

.root-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
