body {
    background-color: #191919;
    color: white;
    font-size: 20px;
}

form {
    margin-bottom: 0px;
}

img {
    image-rendering: pixelated;
}

input, select {
    color: white;
    background-color: #262626;
    border: 0px;
    border-radius: 10px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 4px 4px;
    font-size: 16px;
}

button {
    color: white;
    background-color: #3D3D3D;
    border: 0px;
    border-radius: 10px;
}

button:active {
    background-color: #333333;
}

a:link, a:visited {
    color: white;
}

.root-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    max-width: 600px;
}

.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 5px 10px;
}

.grid-container input {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 4px 4px;
    font-size: 16px;
    color: white;
}

.dreamer-summary {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 20px;
}

.dreamer-summary th {
    text-align: left;
    padding-left: 10px;
    width: 64px;
}

.dreamer-summary td {
    width: 96px;
    background-color: #262626;
    border-radius: 10px;
    padding-left: 5px;
}

.dreamer-sprite {
    text-align: center;
}

.header-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0px;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 200ms;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup .close-button {
    position: absolute;
    background-color: #3D3D3D;
    top: 10px;
    right: 10px;
}

.popup .content {
    background-color: #191919;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0%);
    padding: 20px;
    width: 300px;
}

.encounter-image-table {
    width: 100%;
    border-spacing: 8px;
    margin-bottom: 20px;
}

.encounter-image-table td {
    background-color: #262626;
    border-radius: 10px;
    width: 96px;
    height: 96px;
    text-align: center;
}

.item-table {
    width: 100%;
    border-spacing: 8px;
    margin-bottom: 20px;
}

.item-table td {
    background-color: #262626;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    text-align: center;
}

.item-table td a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.big-button {
    font-size: 16px;
    padding: 16px 32px;
}
